.mrgin10 {
    margin: 10px 0px;
}

#parent {
    position: relative;
    border: 3px solid blue;
    height: 300px;
    width: 500px;
    padding: 0;
}

p {
    position: absolute;
    border: 2px solid;
    margin: 0;
    padding: 10px;
}

p:nth-child(1) {
    top: 0;
    left: 0;
    background-color: black;
    height: 70px;
    width: 80px;
    color: #fff;
    word-wrap: break-word;
    text-align: center;
}

p:nth-child(2) {
    top: 0;
    right: 0;
    background-color: black;
    height: 70px;
    width: 80px;
    color: #fff;
    word-wrap: break-word;
    text-align: center;
}

p:nth-child(3) {
    bottom: 0;
    left: 0;
    background-color: black;
    height: 70px;
    width: 80px;
    color: #fff;
    word-wrap: break-word;
    text-align: center;
}

p:nth-child(4) {
    bottom: 0;
    right: 0;
    background-color: black;
    height: 70px;
    width: 80px;
    color: #fff;
    word-wrap: break-word;
    text-align: center;
}

.main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    /* background-color: #e7d39f; */
}

.sub {
    padding: 30px;
    border: 1px solid black;
}